.App {
  text-align: center;
  max-width: 450px;
  margin: 20px auto;
}
.content {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid lightgray;
  padding-bottom: 1rem;
}
.content .time {
  margin-right: 15px;
}
.content .time span,
.content .run span {
  color: #ffffff;
  background: #000000;
  font-weight: bold;
  padding: 3px;
  border-radius: 5px;
  margin-left: 10px;
}
.btns-container {
  margin-top: 1rem;
}
.btns-container button {
  outline: none;
  background: #ffffff;
  border-radius: 5px;
  padding: 1rem;
}
.btn-play {
  margin-right: 1rem;
  border: 1px solid blue;
}
.btn-play .fa-play,
.btn-play .fa-pause{
  color: blue;
}
.btn-stop {
  border: 1px solid black;
}
.btn-stop .fa-stop {
  color: #000000;
}
